$lighter-grey: #99a1a9;
$light-grey: #727780;
$med-grey: #C2C0C6;
$dark-grey: #606A78;
$alt-grey: #6A737B;
$darkest-grey: #283643;
$black: rgb(0, 23, 41);
$red: #D12E2E;
$blue: #0D67A7;
$dark-blue: rgb(48, 62, 78);

$alt-light-grey: #F2F2F3; // different light grey
$alt-dark-blue: #01172A; // different dark blue
$alt-med-grey: #67747F; // different med grey