/*!
 *
 * CapitalOne.com UI - Core v1.0.0
 * Copyright 2016, Capital One
 *
 */*{margin:0;padding:0;vertical-align:baseline;
}

fieldset,img,a img {
border: 0;
}

pre {
padding: 0.625em;
font-size: 0.9375em;
white-space: pre-wrap;
}

@font-face {
font-family:"Proxima Nova Regular";font-weight:normal;src:url("../fonts/proximanova-reg.eot?#iefix");src:url("../fonts/proximanova-reg.eot?#iefix") format("eot"),url("../fonts/proximanova-reg.woff2") format("woff2"),url("../fonts/proximanova-reg.woff") format("woff"),url("../fonts/proximanova-reg.ttf") format("truetype"),url("../fonts/proximanova-reg.svg#proximanova-reg") format("svg");
}

@font-face {
font-family:"Proxima Nova Condensed";font-weight:500;src:url("../fonts/proximanova-semibold-condensed.eot?#iefix");src:url("../fonts/proximanova-semibold-condensed.eot?#iefix") format("eot"),url("../fonts/proximanova-semibold-condensed.woff2") format("woff2"),url("../fonts/proximanova-semibold-condensed.woff") format("woff"),url("../fonts/proximanova-semibold-condensed.ttf") format("truetype"),url("../fonts/proximanova-semibold-condensed.svg#proximanova-semibold-condensed") format("svg");
}

@font-face {
font-family:"Proxima Nova Thin";font-weight:normal;font-style:normal;src:url("../fonts/proximanova-thin.eot");src:url("../fonts/proximanova-thin.eot?#iefix") format("embedded-opentype"),url("../fonts/proximanova-thin.woff2") format("woff2"),url("../fonts/proximanova-thin.woff") format("woff"),url("../fonts/proximanova-thin.ttf") format("truetype"),url("../fonts/proximanova-thin.svg#proxima_nova_thin") format("svg");
}

@font-face {
font-family:"Streamline";font-weight:normal;src:url("../fonts/streamline.eot?#iefix");src:url("../fonts/streamline.eot?#iefix") format("eot"),url("../fonts/streamline.woff2") format("woff2"),url("../fonts/streamline.woff") format("woff"),url("../fonts/streamline.ttf") format("truetype"),url("../fonts/streamline.svg#streamline") format("svg");
}

.main-content {
padding-top: 1em;
}

.sectioned .main-content {
margin: 0 10px 1em;
}

body {
background: #fff;
color: #021829;
font: 100%/1.4  Arial, Helvetica, sans-serif;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
}

.banner img {
width: 100%;
height: auto;
vertical-align: bottom;
}

.ten .banner img,.six .banner img {
margin-bottom: 1em;
}

img.imageLeft {
float: left;
margin-right: 0.625em;
}

img.imageRight {
float: right;
margin-left: 0.625em;
}

.center {
text-align: center;
}

.align-right {
text-align: right;
}

.mobile-only {
display: inherit;
}

.non-mobile {
display: none;
}

.clearBoth {
clear: both;
}

.clear {
display: block;
visibility: hidden;
clear: both;
height: 0;
content: "";
width: 0;
overflow: hidden;
}

.row,.clearfix {
zoom: 1;
}

.row:after,.clearfix:after {
clear: both;
}

.row:before,.row:after,.clearfix:before,.clearfix:after {
display: block;
visibility: hidden;
clear: both;
height: 0;
content: " ";
width: 0;
overflow: hidden;
}

.vh {
position: absolute !important;
clip: rect(1px, 1px, 1px, 1px);
padding: 0 !important;
border: 0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;
}

@media (min-width: 48em) {
html {
  height: 100%;
}

body {
  height: 100%;
}

.wlp-bighorn-book {
  padding-bottom: 180px;
}

.component {
  margin-bottom: 1em;
}

.mobile-only {
  display: none;
}

.non-mobile {
  display: inherit;
}}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.3125em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 sup,h2 sup,h3 sup,h4 sup,h5 sup,h6 sup {
  font-size: 0.5em;
  font-family: Arial, Helvetica, sans-serif !important;
  vertical-align: super;
}

.thin h1,.thin h2,.thin h3 {
  font-family: "Proxima Nova Thin", Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h1 {
  color: #004977;
  margin-bottom: 0;
  font-size: 1.125em;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 1.25em;
  }

  h1#page-heading {
    float: left;
    margin-bottom: 0.3125em;
    max-width: 20.9em;
    line-height: 1;
  }
}

@media (min-width: 60em) {
  h1 {
    font-size: 1.5em;
  }

  h1#page-heading {
    max-width: 22.5em;
  }
}

h1.heading-large,h1 .heading-large {
  font-size: 200%;
}

.thin h1 {
  font-size: 1.75em;
}

h2 {
  color: #021829;
  line-height: 1.3;
  font-size: 1.0625em;
}

@media (min-width: 60em) {
  h2 {
    font-size: 1.25em;
  }
}

h2.heading-large,h2 .heading-large {
  font-size: 160%;
  line-height: 1.1;
}

.thin h2 {
  font-size: 1.5em;
}

h3 {
  color: #2e3d4e;
  line-height: 1.2;
  font-weight: bold;
  font-size: 1em;
}

@media (min-width: 60em) {
  h3 {
    font-size: 1.125em;
  }
}

h3.heading-large,h3 .heading-large {
  font-size: 140%;
  line-height: 1.1;
}

.thin h3 {
  font-size: 1.25em;
}

h4 {
  color: #021829;
  line-height: 1.15;
  font-size: 1em;
  font-weight: bold;
}

h5 {
  color: #2e3d4e;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.15;
}

h6 {
  color: #021829;
  font-size: 1em;
  line-height: 1;
}

.hero h2,.hero h3 {
  margin-bottom: 0.25em;
  line-height: 1.1;
}

.hero h1#page-heading,.hero h2 {
  font-weight: 500;
  font-size: 1.625em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 48em) {
  .hero h1#page-heading,.hero h2 {
    font-size: 2em;
  }
}

@media (min-width: 60em) {
  .hero h1#page-heading,.hero h2 {
    font-size: 2.6875em;
  }
}

.hero h3 {
  margin: 0.5em 0 0;
  font-size: 1.25em;
}

@media (min-width: 48em) {
  .hero h3 {
    font-size: 1.75em;
  }
}

@media (min-width: 60em) {
  .hero h3 {
    font-size: 2.0625em;
  }
}

p {
  margin: 0 0 1em;
}

@media (min-width: 48em) {
  p {
    font-size: 0.8125em;
  }
}

@media (min-width: 60em) {
  p {
    font-size: 1em;
  }
}

p img {
  margin: 0;
}

.hero p {
  font-size: 1.125em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

blockquote {
  border-left: 2px solid #ceccd0;
  font-size: 1em;
  padding-left: 1em;
}

hr {
  clear: both;
  margin: 1em 0;
  height: 1px;
  border: 0;
  background-color: #dad8db;
  color: #dad8db;
}

sub {
  vertical-align: text-bottom;
  font-size: 0.5625em;
}

sup {
  vertical-align: text-top;
  font-size: 0.5625em;
  font-family: Arial, Helvetica, sans-serif !important;
}

.highlight {
  color: #d12e32;
}

.highlight-blue {
  color: #004977;
}

.highlight-yellow {
  color: #f6e533;
}

.reverse-highlight {
  color: #fff;
}

.underlined,h2 .underlined {
  border-bottom: 2px solid #004977;
  display: block;
  margin-bottom: 1em;
}

abbr,acronym {
  border-bottom: 1px dashed #ccc;
  cursor: help;
}

#wrapper {
  width: auto;
  height: auto;
  position: relative;
  z-index: 30;
}

#wrapper:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}

.no-header-body #wrapper {
  background-image: none;
}

@media (min-width: 48em) {
  #wrapper {
    min-height: 100%;
  }
}

/*.row {
  margin-bottom: 1em;
}*/

.row-stripe {
  background-color: #e9e9e9;
  padding: 1em 1em 0;
}

@media (min-width: 48em) {
  .row-stripe {
    padding: 1em 0 0;
  }
}

.overlay-bg {
  background-color: rgba(255,255,255,0.9);
  padding: 1em;
}

@media (min-width: 48em) {
  .overlay-bg {
    padding: 2em 1em;
    margin: 1em -em(16);
  }
}

.container {
  position: relative;
  margin: 0 0.625em;
  padding: 0;
  width: auto;
}

.container .columns,.container .column {
  display: inline;
  float: left;
  margin: 0;
  width: 100%;
}

.container .columns:after,.container .column:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

.container:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}

@media (min-width: 48em) {
  .container .one {
    width: 1.75em;
  }

  .container .offset-by-one {
    padding-left: 3em;
  }

  .container .two {
    width: 4.75em;
  }

  .container .offset-by-two {
    padding-left: 6em;
  }

  .container .three {
    width: 7.75em;
  }

  .container .offset-by-three {
    padding-left: 9em;
  }

  .container .four {
    width: 10.75em;
  }

  .container .offset-by-four {
    padding-left: 12em;
  }

  .container .five {
    width: 13.75em;
  }

  .container .offset-by-five {
    padding-left: 15em;
  }

  .container .six {
    width: 16.75em;
  }

  .container .offset-by-six {
    padding-left: 18em;
  }

  .container .seven {
    width: 19.75em;
  }

  .container .offset-by-seven {
    padding-left: 21em;
  }

  .container .eight {
    width: 22.75em;
  }

  .container .offset-by-eight {
    padding-left: 24em;
  }

  .container .nine {
    width: 25.75em;
  }

  .container .offset-by-nine {
    padding-left: 27em;
  }

  .container .ten {
    width: 28.75em;
  }

  .container .offset-by-ten {
    padding-left: 30em;
  }

  .container .eleven {
    width: 31.75em;
  }

  .container .offset-by-eleven {
    padding-left: 33em;
  }

  .container .twelve {
    width: 34.75em;
  }

  .container .offset-by-twelve {
    padding-left: 36em;
  }

  .container .thirteen {
    width: 37.75em;
  }

  .container .offset-by-thirteen {
    padding-left: 39em;
  }

  .container .fourteen {
    width: 40.75em;
  }

  .container .offset-by-fourteen {
    padding-left: 42em;
  }

  .container .fifteen {
    width: 43.75em;
  }

  .container .offset-by-fifteen {
    padding-left: 45em;
  }

  .container .sixteen {
    width: 46.75em;
  }

  .container .offset-by-sixteen {
    padding-left: 48em;
  }
}

@media (min-width: 60em) {
  .container .one {
    width: 1.25em;
  }

  .container .offset-by-one {
    padding-left: 3.75em;
  }

  .container .two {
    width: 5em;
  }

  .container .offset-by-two {
    padding-left: 7.5em;
  }

  .container .three {
    width: 8.75em;
  }

  .container .offset-by-three {
    padding-left: 11.25em;
  }

  .container .four {
    width: 12.5em;
  }

  .container .offset-by-four {
    padding-left: 15em;
  }

  .container .five {
    width: 16.25em;
  }

  .container .offset-by-five {
    padding-left: 18.75em;
  }

  .container .six {
    width: 20em;
  }

  .container .offset-by-six {
    padding-left: 22.5em;
  }

  .container .seven {
    width: 23.75em;
  }

  .container .offset-by-seven {
    padding-left: 26.25em;
  }

  .container .eight {
    width: 27.5em;
  }

  .container .offset-by-eight {
    padding-left: 30em;
  }

  .container .nine {
    width: 31.25em;
  }

  .container .offset-by-nine {
    padding-left: 33.75em;
  }

  .container .ten {
    width: 35em;
  }

  .container .offset-by-ten {
    padding-left: 37.5em;
  }

  .container .eleven {
    width: 38.75em;
  }

  .container .offset-by-eleven {
    padding-left: 41.25em;
  }

  .container .twelve {
    width: 42.5em;
  }

  .container .offset-by-twelve {
    padding-left: 45em;
  }

  .container .thirteen {
    width: 46.25em;
  }

  .container .offset-by-thirteen {
    padding-left: 48.75em;
  }

  .container .fourteen {
    width: 50em;
  }

  .container .offset-by-fourteen {
    padding-left: 52.5em;
  }

  .container .fifteen {
    width: 53.75em;
  }

  .container .offset-by-fifteen {
    padding-left: 56.25em;
  }

  .container .sixteen {
    width: 57.5em;
  }

  .container .offset-by-sixteen {
    padding-left: 60em;
  }
}

@media (min-width: 48em) {
  .container {
    margin: 0 auto;
    width: 48em;
  }

  .container .columns {
    margin-right: 0.625em;
    margin-left: 0.625em;
  }

  .container .columns .columns:first-child {
    margin-left: 0;
  }

  .container .columns .columns:last-child {
    margin-right: 0;
  }

  .container .one-third {
    width: 14.75em;
  }

  .container .two-thirds {
    width: 30.75em;
  }

  .container .twelve .three {
    width: 16.75em;
  }

  .container .ten .one-third,.container .ten .one-thirds {
    width: 8.75em;
    overflow: hidden;
  }

  .container .eight .one-third,.container .eight .one-thirds {
    width: 6.75em;
    overflow: hidden;
  }

  .container .eight .two {
    width: 10.75em;
  }

  .container .twelve .three:nth-child(odd),.container .eight .two:nth-child(odd) {
    margin-left: 0;
  }

  .container .twelve .three:nth-child(even),.container .eight .two:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 60em) {
  .container {
    width: 60em;
  }

  .container .columns {
    margin-right: 1.25em;
    margin-left: 1.25em;
  }

  .container .one-third {
    width: 17.5em;
  }

  .container .two-thirds {
    width: 37.5em;
  }

  .container .twelve .three {
    width: 8.75em;
  }

  .container .ten .one-third,.container .ten .one-thirds {
    width: 10em;
    overflow: hidden;
  }

  .container .ten .two {
    width: 5em;
  }

  .container .eight .one-third,.container .eight .one-thirds {
    width: 7.5em;
    overflow: hidden;
  }

  .container .twelve .three:nth-child(odd),.container .eight .two:nth-child(odd) {
    margin-left: 1.25em;
  }

  .container .twelve .three:nth-child(even),.container .eight .two:nth-child(even) {
    margin-right: 1.25em;
  }

  .container .twelve .three.alpha,.container .eight .two.alpha {
    margin-left: 0;
  }

  .container .twelve .three.omega,.container .eight .two.omega {
    margin-right: 0;
  }
}

.columns+.columns {
  margin-top: 1em;
}

@media (min-width: 48em) {
  .columns+.columns {
    margin-top: 0;
  }
}

@media (max-width: 47.9375em) {
  .mob-50 {
    margin-bottom: 0;
  }

  .mob-50 .columns {
    float: left;
    width: 48%;
    padding: 0 1%;
    margin-bottom: 1em;
  }

  .mob-50 .columns:nth-child(3n+3) {
    clear: left;
  }

  .mob-50 .columns+.columns {
    margin-top: 0;
  }
}

body.sectioned #page-body-wrapper {
  width: auto;
  margin: 0;
}

@media (min-width: 48em) {
  body.sectioned .breadcrumb-wrapper {
    background-color: #efefef;
  }

  body.sectioned .breadcrumbs,body.sectioned #nav-breadcrumb {
    width: 46.75em;
    margin: 0 auto;
  }

  body.sectioned .main-content {
    width: 48em;
    margin: 0 auto 1em;
  }
}

@media (min-width: 60em) {
  body.sectioned .breadcrumbs,body.sectioned #nav-breadcrumb {
    width: 58.125em;
    margin: 0 auto;
  }

  body.sectioned .main-content {
    width: 60em;
  }
}

.section {
  padding: 1em 0;
}

.section .section .container {
  width: auto;
}

.section .callout-basic-top ul,.section .component ul {
  text-align: left !important;
}

.section:focus {
  outline: none;
}

.bg-image {
  background-repeat: no-repeat;
  background-scroll: scroll;
  background-position: top center;
}

.bg {
  background-color: #e9e9e9;
}

.bg-alt {
  background-color: #e6f5fb;
}

.bg-alt a {
  color: #0375a3;
}

.bg-alt2 {
  background-color: #303e4e;
}

.bg-right {
  background-position: top right;
}

.repeatX {
  background-repeat: repeat-x;
}

.bottom {
  background-position: bottom center;
}

.middle {
  background-position: center center;
}

.full-width {
  background-size: 100% auto;
}

.full-height {
  background-size: auto 100%;
}

.bg-cover {
  background-size: cover;
}

.bg-restrained {
  background-size: auto auto;
}

.padded,.padded-alt {
  padding: 3.75em 0 3em;
}

@media (min-width: 60em) {
  .padded {
    padding: 5.25em 0 4.5em;
  }

  .padded-alt {
    padding: 7.5em 0 6.75em;
  }
}

.double-padded {
  padding: 5.625em 0 4.875em;
}

@media (min-width: 48em) {
  .double-padded {
    padding: 7.8125em 0 7.0625em;
  }
}

@media (min-width: 60em) {
  .double-padded {
    padding: 10em 0 9.25em;
  }
}

.reversed,.reversed h1,.reversed h2,.reversed h3,.reversed h4,.reversed h5 {
  color: #fff;
  text-shadow: 0 2px 3px rgba(0,0,0,0.75);
}

.reversed a,.reversed a:link,.reversed a:visited {
  color: #94dfff;
}

.reversed .c1-button {
  text-decoration: none;
}

.bg-alt2 {
  color: #fff;
  text-shadow: 0 2px 3px rgba(0,0,0,0.75);
}

.bg-alt2 a,.bg-alt2 a:link,.bg-alt2 a:visited {
  color: #94dfff;
}

.bg-alt2 .c1-button {
  text-decoration: none;
}

.feature {
  margin-top: -2em;
}

@media (min-width: 48em) {
  .feature {
    margin-top: -1.5em;
  }
}

@media (min-width: 60em) {
  .feature {
    margin-top: -2em;
  }
}

.feature h1#page-heading {
  float: none;
  max-width: 100%;
}

.feature,.feature h2,.feature h3,.feature h4,.feature h5 {
  text-shadow: none;
}

.overlap-top {
  padding-top: 2.25em;
}

.overlap-bottom {
  padding-bottom: 2.25em;
}

.push-up {
  margin-top: -3em;
}

.push-down {
  margin-bottom: -3.75em;
}

@media (max-width: 47.9375em) {
  .section .push-up {
    margin-top: 0;
  }

  .section .push-down {
    margin-bottom: 0;
  }
}

.over {
  position: relative;
  z-index: 2;
}

.under {
  position: relative;
  z-index: 1;
}

.bg-white {
  background-color: rgba(255,255,255,0.8);
  padding: 1em 0;
}

.bg-black {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 1em 0;
}

.bg-black h2,.bg-black h3,.bg-black h4,.bg-black h5,.bg-black h6 {
  color: #fff;
}

.padding {
  padding: 1em;
}

@media (min-width: 48em) {
  .extra-padding {
    padding: 3em 1em;
  }
}

@media (min-width: 60em) {
  .extra-padding {
    padding: 5.25em 1em;
  }
}

.rounded {
  border-radius: 8px;
}

.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.trim h2 {
  margin-bottom: 0;
}

.trim .component,.trim .component p:last-child,.trim .component ul:last-child,.trim .component img {
  margin-bottom: 0;
}

*:focus {
  outline-width: 1px;
  outline-style: dotted;
}

/*button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  color: #037fb0;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;
}

button:hover,button:focus {
  color: #336c94;
}

button:focus {
  text-decoration: underline;
}

button::-moz-focus-inner {
  border: 0;
}*/

a:link,a:visited {
  color: #037fb0;
  text-decoration: none;
}

p a:link,p a:visited {
  line-height: inherit;
}

a:hover,a:focus {
  color: #336c94;
}

a:focus {
  text-decoration: underline;
}

a:focus img {
  outline: 1px dotted #000;
}

a.tooltip {
  border-bottom: 1px dashed #bbb;
  color: #444;
}

a.tooltip:after {
  font-family: "Streamline";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  content: "\e335";
  font-size: 13px;
  padding-left: 5px;
  vertical-align: -1px;
  color: #037fb0;
}

a.tooltip:focus {
  text-decoration: none;
}

a.no-tt-icon {
  border-bottom: 0;
  color: #037fb0;
}

a.no-tt-icon:after {
  content: "";
  padding-left: 0;
}

.c1-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  background: #128020;
  border-radius: 3px;
  padding: 0.75em 1em;
  width: 100%;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: none;
}

@media (min-width: 48em) {
  .c1-button {
    display: inline-block;
    margin: 0 0 1em;
    width: auto;
  }
}

.c1-button::-moz-focus-inner {
  border: 0;
}

.c1-button:hover,.c1-button:focus {
  background: #004d00;
  text-decoration: none;
}

.c1-button:focus {
  outline: 1px dotted #888;
}

.c1-button:disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: no-drop;
}

.c1-button span {
  display: inline;
  width: auto;
  height: auto;
  line-height: 1;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  color: #fff;
  position: absolute;
  top: 50%;
  margin: -8px 0 0;
}

.c1-button span:before {
  font-family: "Streamline";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: #fff;
}

button.blue,a.blue,input.blue {
  background: #0d74af;
}

button.blue:hover,button.blue:focus,a.blue:hover,a.blue:focus,input.blue:hover,input.blue:focus {
  background: #063550;
}

button.gray,a.gray,input.gray {
  background: #687680;
}

button.gray:hover,button.gray:focus,a.gray:hover,a.gray:focus,input.gray:hover,input.gray:focus {
  background: #3a4248;
}

button.red,a.red,input.red {
  background: #d03027;
}

button.red:hover,button.red:focus,a.red:hover,a.red:focus,input.red:hover,input.red:focus {
  background: #7a1c17;
}

button.ghost,a.ghost,input.ghost {
  background: #fff;
}

button.ghost:hover,button.ghost:focus,a.ghost:hover,a.ghost:focus,input.ghost:hover,input.ghost:focus {
  background: #cccccc;
}

button.ghost,a.ghost,input.ghost {
  box-shadow: 0 0 0 2px #0d74af inset;
  color: #0d74af !important;
}

button.ghost:hover,button.ghost:focus,a.ghost:hover,a.ghost:focus,input.ghost:hover,input.ghost:focus {
  background: #fff !important;
  box-shadow: 0 0 0 2px #063550 inset;
  color: #063550 !important;
}

button.small,a.small,input.small {
  padding: 8px;
  font-size: 0.875em;
}

button.xsmall,a.xsmall,input.xsmall {
  padding: 4px 5px;
  font-size: 0.75em;
}

button.icon-right,button.right-icon,a.icon-right,a.right-icon,input.icon-right,input.right-icon {
  padding-right: 30px;
}

button.icon-right span,button.right-icon span,a.icon-right span,a.right-icon span,input.icon-right span,input.right-icon span {
  right: 10px;
}

button.left-icon,button.icon-left,a.left-icon,a.icon-left,input.left-icon,input.icon-left {
  padding-left: 30px;
}

button.left-icon span,button.icon-left span,a.left-icon span,a.icon-left span,input.left-icon span,input.icon-left span {
  left: 10px;
}

.reversed button.ghost,.reversed a.ghost,.reversed input.ghost {
  box-shadow: 0 0 0 2px #fff inset;
  color: #fff !important;
  background: transparent;
}

.reversed button.ghost:hover,.reversed button.ghost:focus,.reversed a.ghost:hover,.reversed a.ghost:focus,.reversed input.ghost:hover,.reversed input.ghost:focus {
  background-color: rgba(0,0,0,0.15) !important;
}

button.small span {
  margin: -7px 0 0;
}

@media (min-width: 48em) {
  .c1-button+.c1-button {
    margin-left: 1em;
  }
}

@media (max-width: 47.9375em) {
  .c1-button {
    margin-bottom: 1em;
  }
}

.left-icon .icon-chevron:before {
  content: "\e62a";
}

.left-icon .icon-chevron-circle:before {
  content: "\e64c";
}

.left-icon .icon-chevron-square:before {
  content: "\e662";
}

.left-icon .icon-chevron-double:before {
  content: "\e61c";
}

span[class^="icon"]:before {
  font-family: "Streamline";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

span.icon-settings:before {
  content: "\e314";
}

span.icon-attach:before {
  content: "\e004";
}

span.icon-remove:before {
  content: "\e306";
}

span.icon-tools:before {
  content: "\e318";
}

span.icon-error:before {
  content: "\e333";
}

span.icon-refresh:before {
  content: "\e2e1";
}

span.icon-exchange:before {
  content: "\e2f9";
}

span.icon-location:before {
  content: "\e3a0";
}

span.icon-location-arrow:before {
  content: "\e039";
}

span.icon-chevron:before {
  content: "\e62b";
}

span.icon-chevron-circle:before {
  content: "\e64d";
}

span.icon-chevron-square:before {
  content: "\e663";
}

span.icon-chevron-double:before {
  content: "\e61d";
}

span.icon-chevron-up:before {
  content: "\e629";
}

span.icon-chevron-up-circle:before {
  content: "\e64b";
}

span.icon-chevron-up-square:before {
  content: "\e664";
}

span.icon-chevron-up-double:before {
  content: "\e61e";
}

span.icon-chevron-down:before {
  content: "\e628";
}

span.icon-chevron-down-circle:before {
  content: "\e64a";
}

span.icon-chevron-down-square:before {
  content: "\e665";
}

span.icon-chevron-down-double:before {
  content: "\e61f";
}

span.icon-search:before {
  content: "\e01f";
}

span.icon-search-plus:before {
  content: "\e036";
}

span.icon-search-minus:before {
  content: "\e037";
}

span.icon-heart:before {
  content: "\e093";
}

span.icon-heart-circle:before {
  content: "\e094";
}

span.icon-star:before {
  content: "\e09d";
}

span.icon-star-circle:before {
  content: "\e09e";
}

span.icon-user:before {
  content: "\e174";
}

span.icon-user-circle:before {
  content: "\e158";
}

span.icon-check:before {
  content: "\e2fe";
}

span.icon-check-circle:before {
  content: "\e303";
}

span.icon-check-square:before {
  content: "\e300";
}

span.icon-times:before {
  content: "\e2c0";
}

span.icon-times-circle:before {
  content: "\e2c2";
}

span.icon-times-square:before {
  content: "\e2c3";
}

span.icon-plus:before {
  content: "\e2a9";
}

span.icon-plus-circle:before {
  content: "\e2ab";
}

span.icon-plus-square:before {
  content: "\e2ac";
}

span.icon-minus:before {
  content: "\e2cf";
}

span.icon-minus-circle:before {
  content: "\e2d1";
}

span.icon-minus-square:before {
  content: "\e2d2";
}

span.icon-signal:before {
  content: "\e114";
}

span.icon-gear:before {
  content: "\e312";
}

span.icon-trash:before {
  content: "\e001";
}

span.icon-home:before {
  content: "\e3be";
}

span.icon-clock:before {
  content: "\e321";
}

span.icon-lock:before {
  content: "\e019";
}

span.icon-unlock:before {
  content: "\e01e";
}

span.icon-flag:before {
  content: "\e085";
}

span.icon-camera:before {
  content: "\e1b7";
}

span.icon-list:before {
  content: "\e4e6";
}

span.icon-video-camera:before {
  content: "\e109";
}

span.icon-pencil:before {
  content: "\e025";
}

span.icon-print:before {
  content: "\e42e";
}

span.icon-volume-off:before {
  content: "\e20d";
}

span.icon-step-backward:before {
  content: "\e1d8";
}

span.icon-fast-backward:before {
  content: "\e1cb";
}

span.icon-play:before {
  content: "\e1d6";
}

span.icon-pause:before {
  content: "\e1d5";
}

span.icon-stop:before {
  content: "\e1db";
}

span.icon-fast-forward:before {
  content: "\e1cf";
}

span.icon-step-forward:before {
  content: "\e1d4";
}

span.icon-eject:before {
  content: "\e1cd";
}

span.icon-question:before {
  content: "\e338";
}

span.icon-info:before {
  content: "\e335";
}

span.icon-exclamation:before {
  content: "\e332";
}

span.icon-ban:before {
  content: "\e00b";
}

span.icon-arrow-left:before {
  content: "\e517";
}

span.icon-arrow-right:before {
  content: "\e518";
}

span.icon-arrow-up:before {
  content: "\e519";
}

span.icon-arrow-down:before {
  content: "\e514";
}

span.icon-warning:before {
  content: "\e333";
}

span.icon-comment:before {
  content: "\e0de";
}

span.icon-comments:before {
  content: "\e0de";
}

span.icon-thumb-tack:before {
  content: "\e027";
}

span.icon-external-link:before {
  content: "\e232";
}

span.icon-phone:before {
  content: "\e0ea";
}

span.icon-wrench:before {
  content: "\e318";
}

span.icon-bars:before {
  content: "\e473";
}

span.icon-grid:before {
  content: "\e47e";
}

span.icon-envelope:before {
  content: "\e124";
}

span.icon-envelope-open:before {
  content: "\e133";
}

span.icon-flash:before {
  content: "\e029";
}

span.icon-calendar:before {
  content: "\e31e";
}

span.icon-share:before {
  content: "\e110";
}

span.icon-download:before {
  content: "\e217";
}

span.icon-upload:before {
  content: "\e21b";
}

legend {
  padding: 0;
  color: #021829;
  margin-bottom: 5px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.3125em;
  display: block;
  vertical-align: middle;
}

label span.fldTooltip {
  position: absolute;
  bottom: 1.875em;
  left: -999em;
  background-color: #666;
  color: #fff;
  padding: 0.625em;
  margin: 0;
  box-shadow: 0 0 5px rgba(50,50,50,0.8);
  border-radius: 0.3125em;
  z-index: 45;
  width: 280px;
}

label span.fldTooltip h2,label span.fldTooltip h3,label span.fldTooltip h4,label span.fldTooltip h5 {
  color: #fff;
}

label span.fldTooltip:after {
  background-image: url("../images/icon/global-icons.png");
  background-repeat: no-repeat;
  background-position: 0 -400px;
  position: absolute;
  bottom: -0.8125em;
  left: 1.0625em;
  display: block;
  width: 1.25em;
  height: 0.8125em;
  content: "";
}

label span.visible {
  left: -0.625em;
}

input[type="text"],input[type="password"],input[type="datetime"],input[type="date"],input[type="time"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],textarea,select {
  border-radius: 0.1875em;
  background-color: #fff;
  border: 2px solid #c2c0c6;
  width: 100%;
  margin-bottom: 0.3125em;
  font-size: 1em;
  padding: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"]:active,input[type="text"]:focus,input[type="password"]:active,input[type="password"]:focus,input[type="datetime"]:active,input[type="datetime"]:focus,input[type="date"]:active,input[type="date"]:focus,input[type="time"]:active,input[type="time"]:focus,input[type="number"]:active,input[type="number"]:focus,input[type="email"]:active,input[type="email"]:focus,input[type="url"]:active,input[type="url"]:focus,input[type="search"]:active,input[type="search"]:focus,input[type="tel"]:active,input[type="tel"]:focus,textarea:active,textarea:focus,select:active,select:focus {
  border-color: #019ed5;
}

input[type="text"].error,input[type="password"].error,input[type="datetime"].error,input[type="date"].error,input[type="time"].error,input[type="number"].error,input[type="email"].error,input[type="url"].error,input[type="search"].error,input[type="tel"].error,textarea.error,select.error {
  border-color: #d22f2f;
}

input[type="text"],input[type="password"],input[type="datetime"],input[type="date"],input[type="time"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"] {
  -webkit-appearance: none;
  display: block;
}

/*@media (min-width: 48em) {
  input[type="text"],input[type="password"],input[type="datetime"],input[type="date"],input[type="time"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"] {
    width: auto;
  }
}*/

textarea {
  font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;
}

.select-style {
  position: relative;
  display: block;
}

@media (min-width: 48em) {
  .select-style {
    display: inline-block;
  }
}

.select-style select {
  padding: 0.5em 2.5em 0.5em 0.5em;
  font-size: 1em;
  width: 100%;
  display: block;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (min-width: 48em) {
  .select-style select {
    width: auto;
  }
}

.select-style select option {
  vertical-align: middle;
  line-height: 1;
}

.select-style select::-ms-expand {
  display: none;
}

.select-style:after {
  display: block;
  font-family: "Streamline";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e628";
  position: absolute;
  line-height: 1;
  top: 0.75em;
  right: 0.625em;
  pointer-events: none;
}

optgroup {
  color: #444;
  font-style: normal;
}

.input-helper {
  background-color: #fff;
  border: 2px solid #c2c0c6;
  border-radius: 0.1875em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.25em 0 0;
  padding: 0;
  position: relative;
  top: -0.0625em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-framework.default fieldset div input {
  opacity: 1;
  position: relative;
  top: 1px;
  width: 1em;
  height: 1em;
}

.form-framework.default .input-helper {
  display: none !important;
}

.form-framework input[type="radio"]:checked+.input-helper,.form-framework input[type="checkbox"]:checked+.input-helper,.styled-input input[type="radio"]:checked+.input-helper,.styled-input input[type="checkbox"]:checked+.input-helper {
  border-color: #10bd1b;
}

.form-framework input[type="radio"]:focus+.input-helper,.form-framework input[type="checkbox"]:focus+.input-helper,.styled-input input[type="radio"]:focus+.input-helper,.styled-input input[type="checkbox"]:focus+.input-helper {
  border-color: #019ed5;
}

.form-framework input[type="radio"]+.input-helper,.styled-input input[type="radio"]+.input-helper {
  border-radius: 100%;
  -webkit-transition: border 0.23s ease-out 0s;
  -ms-transition: border 0.23s ease-out 0s;
  transition: border 0.23s ease-out 0s;
}

.form-framework input[type="radio"]:checked+.input-helper,.form-framework input[type="radio"]:focus+.input-helper,.styled-input input[type="radio"]:checked+.input-helper,.styled-input input[type="radio"]:focus+.input-helper {
  border-width: 6px;
}

.form-framework input[type="checkbox"]+.input-helper,.styled-input input[type="checkbox"]+.input-helper {
  text-indent: 0;
  line-height: 1.25em;
  -webkit-transition: background-color 0.23s ease-out 0s;
  -ms-transition: background-color 0.23s ease-out 0s;
  transition: background-color 0.23s ease-out 0s;
}

.form-framework input[type="checkbox"]:checked+.input-helper,.styled-input input[type="checkbox"]:checked+.input-helper {
  background-color: #10bd1b;
}

.form-framework input[type="checkbox"]:checked+.input-helper:after,.styled-input input[type="checkbox"]:checked+.input-helper:after {
  font-family: "Streamline";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  content: "\e2fe";
  color: #fff;
  padding-left: 4px;
  font-size: 10px;
  font-weight: bold;
}

.form-framework input[type="checkbox"]:focus+.input-helper,.styled-input input[type="checkbox"]:focus+.input-helper {
  background-color: #019ed5;
}

.form-framework fieldset,.styled-input fieldset {
  margin-bottom: 1em;
}

.form-framework fieldset div,.styled-input fieldset div {
  border-radius: 0.3125em;
  clear: both;
  background-color: #eff0f1;
  margin-bottom: 0.3125em;
  padding: 0.625em;
}

.form-framework fieldset div:after,.styled-input fieldset div:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

@media (min-width: 48em) {
  .form-framework fieldset div,.styled-input fieldset div {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}

.form-framework fieldset div input,.styled-input fieldset div input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
}

.form-framework fieldset div label,.styled-input fieldset div label {
  line-height: 1.5em;
  vertical-align: middle;
  padding: 0.125em 0 0.125em 2em;
  text-indent: -2em;
  margin-bottom: 0;
  font-weight: normal;
  font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;
  display: block;
  cursor: pointer;
}

@media (min-width: 48em) {
  .form-framework fieldset div label,.styled-input fieldset div label {
    margin-bottom: 0.3125em;
  }
}

.form-framework>div,.styled-input>div {
  margin-bottom: 1em;
}

.form-framework label,.styled-input label {
  position: relative;
}

.form-framework .fldError,.styled-input .fldError {
  color: #d22f2f;
  display: none;
}

.form-framework .fldError:before,.styled-input .fldError:before {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

.form-framework .fldError:after,.styled-input .fldError:after {
  content: "";
}

.form-framework .hasError .fldError,.styled-input .hasError .fldError {
  display: block;
}

.form-framework .error,.styled-input .error {
  font-weight: normal;
  color: #021829;
}

span.required,span.error {
  color: #d22f2f;
  font-weight: bold;
}

.isRequired label:after,.isRequired legend:after {
  color: #d22f2f;
  content: "*";
  font-weight: bold;
}

fieldset.isRequired label:after {
  content: normal !important;
}

.hasError input[type="text"],.hasError input[type="password"],.hasError input[type="datetime"],.hasError input[type="date"],.hasError input[type="time"],.hasError input[type="number"],.hasError input[type="email"],.hasError input[type="url"],.hasError input[type="search"],.hasError input[type="tel"],.hasError textarea,.hasError select {
  border-color: #d22f2f;
}

.hasInfo {
  position: relative;
}

#frmReset {
  margin: 1em 0 0;
}

@media (min-width: 48em) {
  #frmReset {
    margin: 0 0 0 0.625em;
  }
}

.hasDesc input {
  display: inline !important;
  width: auto;
}

.info-tip-icon {
  background-image: url("../images/icon/info-tip.png");
  background-repeat: no-repeat;
  display: block;
  height: 1.375em;
  overflow: hidden;
  position: absolute;
  right: 0.5em;
  top: 2.1875em;
  width: 1.375em;
  cursor: pointer;
}

.before {
  margin-right: 0.1875em;
}

.after {
  margin-left: 0.1875em;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 47.9375em) {
  select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"] {
    font-size: 16px !important;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style: decimal;
}

ul,ol {
  margin: 1em 0 1em 1.25em;
}

ul ul,ul ol,ul p,ol ul,ol ol,ol p {
  margin: 0.5em 0 0.5em 1.875em;
}

ul p,ol p {
  margin-left: 0;
}

@media (min-width: 48em) {
  .component ul,.component ol {
    font-size: 0.8125em;
  }
}

@media (min-width: 60em) {
  .component ul,.component ol {
    font-size: 1em;
  }
}

.list-style-checkmark li:before {
  font-family: "Streamline";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e2fe";
  color: #008a00;
  margin-right: 1em;
  font-weight: bold;
  font-size: 16;
  display: table-cell;
  width: 2em;
}