@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNovaSemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaSemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaSemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ProximaNovaSemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaSemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaSemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNovaRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ProximaNovaRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNovaLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ProximaNovaLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url('../fonts/ProximaNovaSemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ProximaNovaSemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ProximaNovaSemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ProximaNovaSemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNovaSemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ProximaNovaSemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* Styling for the ngProgress itself */
#ngProgress, #ngProgress1 {
    margin: 0;
    padding: 0;
    z-index: 99998;
    
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
.progress-bar, .progress-bar-back{
    background-color:#ffffff;
    width:100%;
    height:11px;
    border: 1px solid #000000;
}
.progress-bar-secure, .progress-bar-scan, .progress-bar-finish{
    margin-top:20px;
    background-color:#ffffff;
    width:100%;
    height:11px;
    border: 1px solid #000000;
}
#ngProgress-container, #ngProgress-container1 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.ideal-image{
    width:90%;
    height:200px;;
    background-color:black;
    margin-left:10px;
}
.license-large{
    height:70%;
    width:70%;
    margin-top:30px;
    margin-left:15%;
}

.img-prop-height{
    height:55px;
}

.img-prop-image{
    height:25px;
    width:21px;
}
.img-prop-image1{
    height:18px;
    width:25px;
    opacity:1
}

.img-prop-points{
    margin-top:2px;
}

.product-card {
        background: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #A3B0BE;
        padding: 0 16px;
        width:100%;
        margin-bottom:24px;
        cursor:pointer;
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
        .close-front-upload{
            float:right;
            height:22px;
            width:21px;
            margin-top:8px;
        }
        .product-card-lower {
            padding:8px 0;
            p {
                line-height:22px;
            }
        }
        &:hover {
            border-color:#2CA1D5;
        }

        .dummy-card{
            height:45px;
            width:71px;
        }
        .success-icon{
            height:30px;
            width:30px;
            margin-top:10px;
        }
    }

.inputLabel{
    cursor:pointer;
    width:inherit;
    background-color:red;
}

.upload-button{
    cursor:pointer;
    font-family: 'ProximaNovaSemiBold';
    font-size:18px;
    color:#ffffff;
    width:100%;
    margin-top:40px;
    height:50px;
    background-color:#0F92C4 !important;
    top:-10px;
}

.submit-button{
    cursor:pointer;
    font-family: 'ProximaNovaSemiBold';
    font-size:18px;
    color:#ffffff;
    width:100%;
    margin-top:40px;
    height:50px;
    top:-10px;
}

.lock-icon{
    height:30px;
    width:30px;
}

.item-list{
    line-height:45px; 
    padding-left:20px; 
}
.align-center{
    margin-left:20%;
}
.align-height{
    padding-top:60px;
    margin-left:10%;
}

.call-center{
   margin-left:30%;     
}

.align-height1{
   margin-left:5%;
}
.main-talk{
    @extend .subfoot;
    color: #009DCC !important;
    cursor:pointer;
}


.item-list-label{
    margin-left:10px;
    padding-top:5px;
    cursor:pointer;
    font-family: 'ProximaNovaRegular';
    font-size: 18px;
    color:#606A78;    
}

.item-list-label:hover{
    color:#ffffff;
}

#option1:hover, #option2:hover, #option3:hover, #option4:hover, #option5:hover, #option6:hover, #option7:hover, #option8:hover, #option9:hover{
   background-color:#19A0D4;
}

.hover-color{
   background-color:#19A0D4; 
}

.gov-header{
    font-size: 32px;
    margin-bottom: 4px;
    color: #1A1919;    
    //font-family: "ProximaNovaRegular";
 }

 

 .upload-header{
  @extend .gov-header;
  font-family: "ProximaNovaRegular";
}

 
 .subhead {
    font-size: 20px;
    color: #606A78;
    opacity:100%;
    font-family: "ProximaNovaRegular";
}
.subfoot {
    font-size: 14px;
    color: #606A78;
    opacity:100%;
    font-family: "ProximaNovaRegular";
}

.subfootresponse{
    font-size: 18px;
    color: #606A78;
    opacity:100%;
    font-family: "ProximaNovaRegular";
}

.inputfile{
    display: block !important;
    width: 0px !important;
    height: 0px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}



.gov-dd-header{
    font-size: 18px;
    color: #67747F;
    opacity:100%;
    font-family: "ProximaNovaRegular";
}

.account-select{
    width:80%;
    padding-left:20%; 
    padding-top:20px;
}

.account-button{
    display:block;
    width: 100%;
    font-size: 14px;
    font-family: 'ProximaNovaRegular';
    font-weight: 400;
    text-align: left;
    line-height: 18px;
    cursor: pointer;
    background-color: #fff;
    background-image: none;
    color: #0E161E;
    padding: 0.625em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #c2c0c6;
    height:40px;
}

.account-button:after{        
    content: '';
    position: absolute;
    width: 18px;
    height: 10px;
    background: url("../images/caret.png") center center no-repeat;
    background-size: cover;
    top: 14px;
    right: 15px;
} 

.animate-hide {
    opacity:100%;
    visibility:hidden;
    width:100%;
    height: 0px;
    position:absolute;
    border: 2px solid #C7C5CB;
    background:white;
    -webkit-transition: all ease-in 0.1s; /* Safari 3.1 to 6.0 */
    -moz-transition:all ease-in 0.1s;
    -o-transition:all ease-in 0.1s;
    transition-timing-function: all ease-in 0.1s; 
    z-index: 1000;
    top:245px;
    margin-left:10px;
}

.animate-hide.ng-hide {  
  opacity:0;
  padding:0 10px;
}      

/* CSS for Modal - Popup */


.modal-button-gov {
    margin: 36px 0;
}

h1.modal-small-headline-gov {
    font-size:24px;
    line-height: 41px;
}

.modal-overlay-gov {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(32, 41, 54);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in-out;
    z-index: 98;
}

.modal-overlay-gov.active {
    visibility: visible;
    opacity: .84;
}

.modal-gov {
    width: 735px;
    background: #fff;
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    margin: 0 auto;
    visibility: hidden;
    top: -15vh;
    z-index: 99;
    //transition: 0.2s all ease-in-out;
    .modal-content-gov {
        //min-height: 540px;
        //max-height: 556px;

        padding: 64px 16px 30px;
        .add-these-gov,
        .verify-me-gov,
        .terrific-gov {
            display: inline-block;
            width: 70%;
        }
        .not-right-gov {
            margin-top: 16px;
            display: block;
        }
        .modal-close-gov {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
            img {
                height: 23px;
            }
        }
        .modal-back-gov {
            position: absolute;
            top: 16px;
            left: 16px;
            cursor: pointer;
            img {
                height: 23px;
            }
        }
        .modal-top-icon-bg-gov {
            width: 102px;
            height: 102px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            top: -51px;
            .modal-top-icon-gov {
                margin: 3px;
                height: 96px;
            }
        }
        h1 {
            color: #01172A;
            font-size: 32px;
        }
        .modal-product-gov {
            padding: 16px 20px;
            border-radius: 8px;
            background: #F2F2F3;
            width: 100%;
            max-width: 570px;
            margin: 48px auto 40px;
            img {
                height: 32px;
            }
            p {
                margin: 0;
                padding-top: 3px;
                color: #01172A;
            }
            span {
                padding-top: 3px;
                display: block;
                color: #67747F;
            }
        }
    }
}

.modal-gov.active {
    top: 160px;
    visibility: visible;
}

.modal-content-1-gov,
.modal-content-2-gov,
.modal-content-3-gov {
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.modal-content-1-gov.active,
.modal-content-2-gov.active,
.modal-content-3-gov.active {
    opacity: 1;
    z-index: 9999;
}

.yourpin-gov {
    width: 65%;
    margin: 36px auto 72px;
}

.tacs-scroll-gov {
    width:640px;
    margin:0 auto;
    height:240px;
    overflow-y: auto;
    font-size:16px;
    line-height: 22px;
    margin-bottom: 16px;
    background: #F2F2F3;
    border-radius: 8px;
    padding:20px;
    strong {
        color:#67747F;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 700px) {
    .modal-gov {
        width: calc(100% - 20px);
        //margin: 80px 20px 0;
    }
    .align-center{
        margin-left:3%;
    }

    .animate-hide {
    opacity:100%;
    visibility:hidden;
    width:100%;
    height: 0px;
    position:absolute;
    border: 2px solid #C7C5CB;
    background:white;
    -webkit-transition: all ease-in 0.1s; /* Safari 3.1 to 6.0 */
    -moz-transition:all ease-in 0.1s;
    -o-transition:all ease-in 0.1s;
    transition-timing-function: all ease-in 0.1s; 
    z-index: 1000;
    top:320px;
    margin-left:10px;
}
}