#File extensions to always ignore
*.css
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.codekit
.htaccess


#Build
target/
*.class
*.bak
*.jar
*.war
*.ear


#IDEA
.idea/
*.iml

#Eclipse
.classpath
.project
.settings/
.springBeans


# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish

#npm
node_modules/

#Bower
bower_components/



app/templates.js
