<div>
	<div class="modal-gov" ng-class="{'active': !cvvModal }" ng-init="finishingSubmissionLaunch()" >
		<div class="modal-content-gov">
			
			<div class="modal-top-icon-bg-gov">
				<img src="images/finishing-up.png" alt="card icon" class="modal-top-icon-gov"/>
			</div>
			<h1 class="upload-header text-center" translate-default="Finishing up your submission" translate="dummy"></h1>

			<p class="subhead text-center" translate-default="You're almost there. Just a few more moments." translate="dummy"></p>

			

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="progress-bar-finish" ></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<div class="align-height">
						<span class="subfoot" translate-default="Please do not leave or close this page" translate="translatedJSON">
						</span>	
					</div>
				</div>
			</div>

		</div>
	</div>
</div>