<div>
	<div class="modal-gov" ng-class="{'active': !cvvModal }" >
		<div class="modal-content-gov">			
			<div class="modal-top-icon-bg-gov">
				<img src="images/info.png" alt="card icon" class="modal-top-icon-gov"/>
			</div>
			<h1 class="upload-header text-center" translate-default="What makes a good image?" translate="dummy"></h1>

			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<p class="subhead text-center" translate-default="To ensure timely verification of your identity, follow these guidelines:" translate="dummy"></p>
					
				</div>
			</div>	

			<div class="row">
				<div class="col-md-5">
					<div class="ideal-image">
						<img src="images/license-large.png" class="license-large"></img>
					</div>
				</div>

				<div class="col-md-7">

					<div class="row img-prop-height">
						<div class="col-sm-1">
							<img src="images/lamp.png" class="img-prop-image"></img>
						</div>
						<div class="col-sm-11">
							<p class="img-prop-points" translate-default="Well-lit (no parts are dark or glared)" translate="dummy"></p>
						</div>
					</div>					

					<div class="row img-prop-height">
						<div class="col-md-1">
							<img src="images/contrast.png" class="img-prop-image"></img>
						</div>
						<div class="col-md-11">
							<p class="img-prop-points" translate-default="Contrasting (preferably dark) background" translate="dummy"></p>
						</div>
					</div>

					<div class="row img-prop-height">
						<div class="col-md-1">
							<img src="images/glasses.png" class="img-prop-image1	"></img>
						</div>
						<div class="col-md-11">
							<p class="img-prop-points" translate-default="Fully legible so that all words are clear" translate="dummy"></p>
						</div>
					</div>

					<div class="row img-prop-height">
						<div class="col-md-1">
							<img src="images/magnifying-glass.png" class="img-prop-image"></img>
						</div>
						<div class="col-md-11">
							<p class="img-prop-points" translate-default="Close enough to see detail" translate="dummy"></p>
						</div>
					</div>



					
				</div>
			</div>		

			<!--<div class="row">
				<div class="col-md-12">
					<div class="align-height1">
						<span>
							<img class="lock-icon" src="images/lock.png" alt="card icon" />
						</span>
						<span class="subfootresponse" translate-default="For your security, don't forget to delete any pictures of your ID from your device." translate="translatedJSON">
						</span>	
					</div>
				</div>
			</div>

			<div class="row">
					<div class="col-md-8 col-md-offset-2">						
						<button id="succss-button" class="oui-button  upload-button" type="submit" translate-default="Got It! Go to Capital One's Website" translate="dummy" ></button>
					</div>
				</div>-->

		</div>
	</div>
</div>